<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file.types" value="*.cpp;*.cxx;*.c;*.h;*.rc;*.tlh;*.tli;*.java;*.cs;*.aspx;*.asp;*.php;*.php3;*.jsp;*.htm;*.html;*.vb;*.bas;*.frm;*.ctl;*.cls;*.pas;*.dfm;*.sql;*.txt;*.bat"/>
    <add key="message.filename" value="BatchConverter.Messages.dll"/>
  </appSettings>
</configuration>